<?xml version="1.0"?>
<!--
/**
* SurchX Surcharge admin configuration
*
* @category    Surchx
* @package     Surchx_Surcharge
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="surcharge" frontName="surcharge">
            <module name="Surchx_Surcharge" />
        </route>
    </router>
</config>
